.navigator {
  background-color: #ffffff;
}
.ui.inverted.menu.doc-header {
  border-radius: 0;
  margin: 0px;
  background: #353644;
}
.extends a {
  margin-left: 0.5em;
}
.doc-body #sidebar,
.doc-body #toc {
  height: 100%;
  overflow: hidden;
  background-color: #3E3D49;
}
.doc-body #sidebar:hover,
.doc-body #toc:hover {
  overflow-y: auto;
}
.doc-body #sidebar .ui.input,
.doc-body #toc .ui.input {
  margin: 1em;
}
.doc-body #sidebar .ui .item,
.doc-body #toc .ui .item {
  position: relative;
  cursor: pointer;
  height: 2em;
  line-height: 2em;
  padding: 0 0 0 1.5em;
  color: rgba(240, 248, 255, 0.61);
}
.doc-body #sidebar .ui .item:hover,
.doc-body #toc .ui .item:hover {
  background-color: #4ba575;
  color: #ffffff;
}
.doc-body #sidebar .ui .item.hidden,
.doc-body #toc .ui .item.hidden {
  display: none;
}
.doc-body #sidebar .ui .item.active,
.doc-body #toc .ui .item.active {
  background-color: rgba(255, 255, 255, 0.05);
}
.doc-body #sidebar .ui .item.active::before,
.doc-body #toc .ui .item.active::before {
  content: "";
  float: right;
  position: absolute;
  left: 0;
  top: 0px;
  bottom: 0px;
  width: 2px;
  border: 2px solid #4ba575;
}
.doc-body #sidebar .ui.segment,
.doc-body #toc .ui.segment {
  background-color: transparent;
}
.doc-body #doc-content {
  height: 100%;
  overflow: auto;
}
.doc-body #doc-content > .v-box > .box {
  padding: 1em 0 0 1em;
}
.ui.tab {
  overflow: auto;
  height: 100%;
}
.type {
  display: inline-block;
  margin-left: 1em;
}
.type::before {
  content: "<";
}
.type::after {
  content: ">";
}
@-webkit-keyframes targetBackgroundFlash {
  50% {
    background-color: rgba(60, 132, 93, 0.5);
  }
}
@keyframes targetBackgroundFlash {
  50% {
    background-color: rgba(60, 132, 93, 0.5);
  }
}
.methods > .item,
.attributes > .item,
.events > .item,
.properties > .item {
  padding: 0.5em 0 0.5em 1.5em;
}
.methods > .item .ui.labels .label,
.attributes > .item .ui.labels .label,
.events > .item .ui.labels .label,
.properties > .item .ui.labels .label {
  border-radius: 0;
  background-color: #4ba575 !important;
  border-color: #4ba575 !important;
  color: #ffffff !important;
}
.methods > .item.target,
.attributes > .item.target,
.events > .item.target,
.properties > .item.target {
  animation: targetBackgroundFlash 1.5s;
  -webkit-animation: targetBackgroundFlash 1.5s;
}
.methods > .item .item-header em,
.attributes > .item .item-header em,
.events > .item .item-header em,
.properties > .item .item-header em {
  float: right;
  margin-right: 1.5em;
}
.methods > .item .item-header .label,
.attributes > .item .item-header .label,
.events > .item .item-header .label,
.properties > .item .item-header .label {
  margin-left: 1em;
}
.methods > .item .item-header .default-value,
.attributes > .item .item-header .default-value,
.events > .item .item-header .default-value,
.properties > .item .item-header .default-value {
  margin-left: 0.5em;
}
.methods > .item .item-header .default-value::before,
.attributes > .item .item-header .default-value::before,
.events > .item .item-header .default-value::before,
.properties > .item .item-header .default-value::before {
  content: "( =";
}
.methods > .item .item-header .default-value::after,
.attributes > .item .item-header .default-value::after,
.events > .item .item-header .default-value::after,
.properties > .item .item-header .default-value::after {
  content: " )";
}
.methods > .item .item-body,
.attributes > .item .item-body,
.events > .item .item-body,
.properties > .item .item-body {
  font-size: 0.9em;
  margin: 0.5em 0 0 1em;
}
.methods > .item .item-body .parameters > .label,
.attributes > .item .item-body .parameters > .label,
.events > .item .item-body .parameters > .label,
.properties > .item .item-body .parameters > .label,
.methods > .item .item-body .return > .label,
.attributes > .item .item-body .return > .label,
.events > .item .item-body .return > .label,
.properties > .item .item-body .return > .label {
  font-weight: bold;
  line-height: 2.5em;
}
.methods > .item .item-body .parameters ul,
.attributes > .item .item-body .parameters ul,
.events > .item .item-body .parameters ul,
.properties > .item .item-body .parameters ul,
.methods > .item .item-body .return ul,
.attributes > .item .item-body .return ul,
.events > .item .item-body .return ul,
.properties > .item .item-body .return ul {
  margin: 0;
}
.methods > .item .item-body .parameters ul li,
.attributes > .item .item-body .parameters ul li,
.events > .item .item-body .parameters ul li,
.properties > .item .item-body .parameters ul li,
.methods > .item .item-body .return ul li,
.attributes > .item .item-body .return ul li,
.events > .item .item-body .return ul li,
.properties > .item .item-body .return ul li {
  margin-bottom: 0.25em;
}
.methods > .item .item-body .parameters ul li .desc,
.attributes > .item .item-body .parameters ul li .desc,
.events > .item .item-body .parameters ul li .desc,
.properties > .item .item-body .parameters ul li .desc,
.methods > .item .item-body .return ul li .desc,
.attributes > .item .item-body .return ul li .desc,
.events > .item .item-body .return ul li .desc,
.properties > .item .item-body .return ul li .desc {
  line-height: 2.5em;
}
.methods > .item:nth-of-type(even),
.attributes > .item:nth-of-type(even),
.events > .item:nth-of-type(even),
.properties > .item:nth-of-type(even) {
  background-color: rgba(227, 227, 227, 0.5);
}
.methods > .item:nth-of-type(even) .prettyprint,
.attributes > .item:nth-of-type(even) .prettyprint,
.events > .item:nth-of-type(even) .prettyprint,
.properties > .item:nth-of-type(even) .prettyprint {
  background-color: #f7faf8;
}
.methods > .item:nth-of-type(even) .ui.label,
.attributes > .item:nth-of-type(even) .ui.label,
.events > .item:nth-of-type(even) .ui.label,
.properties > .item:nth-of-type(even) .ui.label {
  background-color: rgba(251, 250, 250, 0.85);
}
.intro .description {
  min-height: 1em;
}
.intro .description ul {
  margin: 1em;
  line-height: 1.5em;
}
.description {
  margin: 0;
}
.description .prettyprint {
  display: block;
  border-width: 0px;
  background-color: #dcdfdd;
  margin-right: 1.5em;
  padding: 1em;
}
.description ul {
  margin: 0px;
  line-height: 0.75em;
}
.ui.secondary.pointing.menu .active.item {
  border-color: #4ba575;
}
.ui.secondary.pointing.menu .active.item:hover {
  border-color: #4ba575;
}
.ui.header:not(.item) {
  color: #555 !important;
}
body {
  color: #555 !important;
}
body a {
  color: #4ba575;
}
body a:hover {
  color: #555 !important;
}
@media only screen and (max-width: 48em) {
  #toc {
    display: none;
  }
  .methods > .item,
  .attributes > .item,
  .events > .item,
  .properties > .item {
    padding: 0.5em 0 0.5em 1.5em;
  }
  .methods > .item .ui.labels .label,
  .attributes > .item .ui.labels .label,
  .events > .item .ui.labels .label,
  .properties > .item .ui.labels .label {
    border-radius: 0;
    background-color: #4ba575 !important;
    border-color: #4ba575 !important;
    color: #ffffff !important;
  }
  .methods > .item.target,
  .attributes > .item.target,
  .events > .item.target,
  .properties > .item.target {
    animation: targetBackgroundFlash 1.5s;
    -webkit-animation: targetBackgroundFlash 1.5s;
  }
  .methods > .item .item-header,
  .attributes > .item .item-header,
  .events > .item .item-header,
  .properties > .item .item-header {
    line-height: 1.5em;
  }
  .methods > .item .item-header strong,
  .attributes > .item .item-header strong,
  .events > .item .item-header strong,
  .properties > .item .item-header strong {
    margin-bottom: 0.5em !important;
  }
  .methods > .item .item-header em,
  .attributes > .item .item-header em,
  .events > .item .item-header em,
  .properties > .item .item-header em {
    float: none;
  }
  .methods > .item .item-header > *,
  .attributes > .item .item-header > *,
  .events > .item .item-header > *,
  .properties > .item .item-header > * {
    display: block !important;
    margin: 0 !important;
  }
  .methods > .item .item-header .default-value > *,
  .attributes > .item .item-header .default-value > *,
  .events > .item .item-header .default-value > *,
  .properties > .item .item-header .default-value > * {
    margin: 0;
  }
  .methods > .item .item-body,
  .attributes > .item .item-body,
  .events > .item .item-body,
  .properties > .item .item-body {
    margin: 0 !important;
  }
}
@media only screen and (min-width: 48.0625em) {
  #sidebar {
    display: none;
  }
  #showSidebarBtn {
    display: none !important;
  }
}
#sidebar .v-box {
  height: 100%;
}
#sidebar .v-box .flex-box {
  background-color: #ffffff;
}
#sidebar .v-box .flex-box .ui .item {
  position: relative;
  cursor: pointer;
  height: 3em;
  line-height: 3em;
  padding: 0 0 0 2em;
  color: #353644;
}
#sidebar .v-box .flex-box .ui .item:hover {
  background-color: rgba(56, 123, 87, 0.37) !important;
  color: #ffffff;
}
#sidebar .v-box .flex-box .ui .item.hidden {
  display: none;
}
#sidebar .v-box .flex-box .ui .item.active {
  background-color: rgba(255, 255, 255, 0.05);
}
#sidebar .v-box .flex-box .ui .item.active::before {
  content: "";
  float: right;
  position: absolute;
  left: 0;
  top: 0px;
  bottom: 0px;
  width: 2px;
  border: 2px solid #4ba575;
}
#sidebar .v-box .flex-box .ui .item:nth-of-type(even) {
  background-color: #e5e5e5;
}
