<!DOCTYPE html>
<html>
<head lang="zh-CN">
	<meta charset="UTF-8">
	<title>栅格系统</title>
	<script src="../../include-all.js"></script>
	<link href="./visibility.css" rel="stylesheet"/>
	<link href="./grid.css" rel="stylesheet"/>
</head>
<body style="padding: 20px">
<div>
	<h2 class="ui dividing header">响应式栅格系统-开始！</h2>
	<section class="gs-example">
		<div class="row collapse">
			<div class="medium-4 columns">
				<p>medium-4</p>
			</div>
		</div>

	</section>
	<section class="gs-example">
		<div class="row collapse">
			<div class="small-12 columns">
				<p>12</p>
			</div>
		</div>
		<div class="row collapse">
			<div class="small-6 columns border-none">
				<p>6</p>
			</div>
			<div class="small-6 columns">
				<p>6</p>

				<div class="row">
					<div class="small-6 columns border-none">
						<p>6</p>
					</div>
					<div class="small-6 columns">
						<p>6</p>
					</div>
				</div>
			</div>
		</div>
		<div class="row collapse">
			<div class="small-4 columns border-none">
				<p>4</p>

				<div class="row">
					<div class="small-4 columns border-none">
						<p>4</p>
					</div>
					<div class="small-8 columns">
						<p>8</p>
					</div>
				</div>
			</div>
			<div class="small-4 columns border-none">
				<p>4</p>

				<div class="row">
					<div class="small-3 columns border-none">
						<p>3</p>
					</div>
					<div class="small-9 columns">
						<p>9</p>
					</div>
				</div>
			</div>
			<div class="small-4 columns">
				<p>4</p>

				<div class="row">
					<div class="small-3 columns border-none">
						<p>3</p>
					</div>
					<div class="small-3 columns border-none">
						<p>3</p>
					</div>
					<div class="small-6 columns">
						<p>6</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<h2 class="ui dividing header">响应式</h2>

	<div class="example">
		<div class="row display">
			<div class="small-2 medium-4 large-6 columns">
				<span class="show-for-samll">2</span>
				<span class="show-for-medium">4</span>
				<span class="show-for-large">6</span>
			</div>
			<div class="small-4 medium-4 large-4 columns">4</div>
			<div class="small-6 medium-4 large-2 columns">
				<span class="show-for-samll">6</span>
				<span class="show-for-medium">4</span>
				<span class="show-for-large">2</span>
			</div>
		</div>
		<div class="row display">
			<div class="large-3 columns">
				<span class="hide-for-large ">full</span><span class="show-for-large">3</span>
			</div>
			<div class="large-6 columns">
				<span class="hide-for-large">full</span><span class="show-for-large">6</span>
			</div>
			<div class="large-3 columns">
				<span class="hide-for-large">full</span><span class="show-for-large">3</span>
			</div>
		</div>
		<div class="row display">
			<div class="small-6 large-2 columns">
				<span class="hide-for-large">6</span>
				<span class="show-for-large">2</span>
			</div>
			<div class="small-6 large-8 columns"><span class="hide-for-large">6</span><span
					class="show-for-large">8</span>
			</div>
			<div class="small-12 large-2 columns"><span class="hide-for-large">full</span><span
					class="show-for-large">2</span>
			</div>
		</div>
		<div class="row display">
			<div class="small-3 columns">3</div>
			<div class="small-9 columns">9</div>
		</div>
		<div class="row display">
			<div class="large-4 columns"><span class="hide-for-large">full</span><span class="show-for-large">4</span>
			</div>
			<div class="large-8 columns"><span class="hide-for-large">full</span><span class="show-for-large">8</span>
			</div>
		</div>
		<div class="row display">
			<div class="small-6 large-5 columns"><span class="hide-for-large">6</span><span
					class="show-for-large">5</span>
			</div>
			<div class="small-6 large-7 columns"><span class="hide-for-large">6</span><span
					class="show-for-large">7</span>
			</div>
		</div>
		<div class="row display">
			<div class="large-6 columns"><span class="hide-for-large">full</span><span class="show-for-large">6</span>
			</div>
			<div class="large-6 columns"><span class="hide-for-large">full</span><span class="show-for-large">6</span>
			</div>
		</div>

	</div>
	<h2 class="ui dividing header">可无限嵌套</h2>

	<div class="example">
		<div class="row display">
			<div class="small-8 columns">8
				<div class="row">
					<div class="small-8 columns">8
						<div class="row">
							<div class="small-8 columns">8
								<div class="row">
									<div class="small-8 columns">8</div>
									<div class="small-4 columns">4</div>
								</div>
							</div>
							<div class="small-4 columns">4</div>
						</div>
					</div>
					<div class="small-4 columns">4</div>
				</div>
			</div>
			<div class="small-4 columns">4</div>
		</div>
	</div>


	<h2 class="ui dividing header">居中显示</h2>

	<div class="example">
		<div class="row display">
			<div class="row">
				<div class="small-3 small-centered columns">3 centered</div>
			</div>
			<div class="row">
				<div class="small-6 large-centered columns">6 centered</div>
			</div>
			<div class="row">
				<div class="small-9 small-centered  columns">9 centered</div>
			</div>
			<div class="row">
				<div class="small-11 small-centered columns">11 centered</div>
			</div>

		</div>
	</div>


	<h2 class="ui dividing header">不完整的</h2>

	<div class="example">
		<div class="row display">
			<div class="row">
				<div class="medium-3 columns">3</div>
				<div class="medium-3 columns">3</div>
				<div class="medium-3 columns">3</div>
			</div>
			<div class="row">
				<div class="medium-3 columns">3</div>
				<div class="medium-3 columns">3</div>
				<div class="medium-3 columns end">3 end</div>
			</div>
		</div>

	</div>


	<h2 class="ui dividing header">平移</h2>

	<div class="example">
		<div class="row display">
			<div class="row">
				<div class="large-1 columns">1</div>
				<div class="large-11 columns">11</div>
			</div>
			<div class="row">
				<div class="large-1 columns">1</div>
				<div class="large-10 large-offset-1 columns">10, offset 1</div>
			</div>
			<div class="row">
				<div class="large-1 columns">1</div>
				<div class="large-9 large-offset-2 columns">9, offset 2</div>
			</div>
			<div class="row">
				<div class="large-1 columns">1</div>
				<div class="large-8 large-offset-3 columns">8, offset 3</div>
			</div>
		</div>

	</div>


	<h2 class="ui dividing header">Push-Pull</h2>

	<div class="example">
		<div class="row display">
			<div class="row">
				<div class="small-10 small-push-2 columns">10</div>
				<div class="small-2 small-pull-10 columns">2, last</div>
			</div>
			<div class="row">
				<div class="large-9 large-push-3 columns">9</div>
				<div class="large-3 large-pull-9 columns">3, last</div>
			</div>
			<div class="row">
				<div class="large-8 large-push-4 columns">8</div>
				<div class="large-4 large-pull-8 columns">4, last</div>
			</div>
			<div class="row">
				<div class="small-5 small-push-7 medium-7 medium-push-5 columns">7</div>
				<div class="small-7 small-pull-5 medium-5 medium-pull-7 columns">5, last</div>
			</div>
			<div class="row">
				<div class="medium-6 medium-push-6 columns">6</div>
				<div class="medium-6 medium-pull-6 columns">6, last</div>
			</div>
		</div>
	</div>
</div>
</div>
</body>
</html>