<!DOCTYPE html>
<html>
<head lang="zh-CN">
	<meta charset="UTF-8">
	<title>栅格系统</title>
	<script src="../../include-all.js"></script>
	<link href="./visibility.css" rel="stylesheet"/>
	<link href="./grid.css" rel="stylesheet"/>
	<style>
		.example .row .columns {
			padding: 1em;
		}

	</style>
</head>
<body style="padding: 20px">
<div>

	<h2 class="ui dividing header">响应式</h2>

	<div class="example">
		<div class="row display">
				<div class="small-10 small-push-2 columns">10</div>
				<div class="small-2 small-pull-10 columns">2, last</div>
		</div>
		<div class="row display">
			<div class="small-12 medium-6 columns">
				<div c-widget="Input; class:fluid">
					<div c-widget="Label; text:用户名"></div>
				</div>
			</div>
			<div class="small-12 medium-6 columns">
				<div c-widget="Input; class:fluid">
					<div c-widget="Label; text:密码"></div>
				</div>
			</div>
			<div class="small-12 medium-3 columns">
				<div c-widget="Input; class:fluid">
					<div c-widget="Label; text:验证码"></div>
				</div>
			</div>
			<div class="small-12 medium-3 columns">
				<div c-widget="button; class:teal; caption:提交; float:right">

				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	cola(function (model) {
	})

</script>
</body>
</html>