<!DOCTYPE html>
<html>
<head lang="zh-CN">
    <meta charset="UTF-8">
    <title>list</title>
    <script src="../../include-all.js"></script>
    <style>
        img {
            display: inline-block;
            vertical-align: middle;
            max-width: 100%;
            height: auto;
        }
    </style>
</head>
<body style="padding: 20px">
<div>
    <blocks class="small-cols-2 medium-cols-4 large-cols-6">
        <item><img class="th" src="../../images/avatar/large/ade.jpg"></item>
        <item><img class="th" src="../../images/avatar/large/chris.jpg"></item>
        <item><img class="th" src="../../images/avatar/large/daniel.jpg"></item>
        <item><img class="th" src="../../images/avatar/large/christian.jpg"></item>
        <item><img class="th" src="../../images/avatar/large/helen.jpg"></item>
        <item><img class="th" src="../../images/avatar/large/laura.jpg"></item>
    </blocks>
</div>
</body>
</html>