<!DOCTYPE html>
<html>
<head lang="zh-CN">
	<meta charset="UTF-8">
	<title>list</title>
	<script src="../../include-all.js"></script>
	<style>
		img {
			display: inline-block;
			vertical-align: middle;
			max-width: 100%;
			height: auto;
		}
	</style>
</head>
<body style="padding: 20px">
<div>
	<ul class="ui segment small-block-grid-2 medium-block-grid-3 large-block-grid-6">
		<li ><img class="th" src="../../images/avatar/large/ade.jpg"></li>
		<li ><img class="th" src="../../images/avatar/large/chris.jpg"></li>
		<li ><img class="th" src="../../images/avatar/large/daniel.jpg"></li>
		<li ><img class="th" src="../../images/avatar/large/christian.jpg"></li>
		<li ><img class="th" src="../../images/avatar/large/helen.jpg"></li>
		<li ><img class="th" src="../../images/avatar/large/laura.jpg"></li>
	</ul>
</div>
</body>
</html>