<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
	<meta charset="utf-8">
	<title>Grid</title>
	<script src="../../include-all.js"></script>
	<style>
		.grid .column {
			border: 1px solid #008080;
		}
	</style>
</head>
<body style="padding: 20px;">
<div class="ui  celled grid">

		<div class="four wide column">1</div>
		<div class="column">2</div>
		<div class="column">3</div>
		<div class="column">4</div>

	<div class="stretched row">
		<div class="column">

		</div>
		<div class="column">
			<div class="column">1</div>
			<div class="column">2</div>
			<div class="column">3</div>
			<div class="column">4</div>
		</div>
		<div class="two wide column">

		</div>
	</div>
</div>

</body>
</html>