<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <meta charset="utf-8">
    <title>Panel</title>
    <script src="../../include-all.js"></script>
</head>
<body style="padding: 20px;">

<c-panel caption="个人信息" width="400px" class="collapsed">
    <template name="tools">
        <div>
            <c-button caption="按钮"></c-button>
            <i class="icon setting link"></i>
        </div>
    </template>
    <div class="content">
        <div c-widget="button; caption:GroupBox"></div>
        <div c-widget="button; caption:GroupBox"></div>
        <div c-widget="button; caption:GroupBox"></div>
        <div c-widget="button; caption:GroupBox"></div>
        <div c-widget="button; caption:GroupBox"></div>
        <div c-widget="button; caption:GroupBox"></div>
        <div c-widget="button; caption:GroupBox"></div>
        <div c-widget="button; caption:GroupBox"></div>
        <div c-widget="button; caption:GroupBox"></div>
        <div c-widget="button; caption:GroupBox"></div>
        <div c-widget="button; caption:GroupBox"></div>
        <div c-widget="button; caption:GroupBox"></div>
        <div c-widget="button; caption:GroupBox"></div>
        <div c-widget="button; caption:GroupBox"></div>
    </div>
</c-panel>
<br>


<script type="text/javascript">
    cola(function (model) {
        model.widgetConfig({
            panel: {
                icon: "user",
                $type: "Panel",
                closable: false,
                caption: "个人数据",
                width: "40%"
            }
        });
    })

</script>

</body>
</html>