<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<!-- 防止doubletap 或 pinch 缩放了viewport-->
	<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
	<title>Sidebar</title>
	<script src="../../include-all.js"></script>
</head>
<body class="demo">
<div id="leftSide" c-widget="sidebar">
	<div class="ui inverted vertical menu">
		<a class="item">1</a>
		<a class="item">2</a>
		<a class="item">3</a>
	</div>
</div>
<div id="rightSide" c-widget="sidebar; direction:right">
	<div class="ui  inverted vertical menu">
		<a class="item">1</a>
		<a class="item">2</a>
		<a class="item">3</a>
	</div>
</div>
<div id="topSide" c-widget="sidebar; direction:top">
	<div class="ui  inverted menu">
		<a class="item">1</a>
		<a class="item">2</a>
		<a class="item">3</a>
	</div>
</div>
<div id="bottomSide" c-widget="sidebar; direction:bottom">
	<div class="ui menu" style="height: 100%;">
		<a class="item">1</a>
		<a class="item">2</a>
		<a class="item">3</a>
	</div>
</div>
<div>
	<div c-widget="button; caption:left; click:show"></div>
	<div c-widget="button; caption:right; click:show"></div>
	<div c-widget="button; caption:top; click:show"></div>
	<div c-widget="button; caption:bottom; click:show"></div>
</div>

<script type="text/javascript">
	cola(function (model) {
		model.action({
			show: function (self, arg) {
				var sidebar = cola.widget(self.get("caption") + "Side");
				debugger;
				sidebar.show()
			}
		})
	});
</script>
</body>
</html>