<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<!-- 防止doubletap 或 pinch 缩放了viewport-->
	<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
	<title>Sidebar</title>
	<script src="../../include-all.js"></script>
</head>
<body class="demo">
<div id="drawerDemo" class="ui pushable" c-widget="Drawer; height:100%;">
	<div id="leftSide" class="ui sidebar left" c-widget="sidebar">
		<div class="ui  inverted vertical menu">
			<a class="item">1</a>
			<a class="item">2</a>
			<a class="item">3</a>
		</div>
	</div>
	<div id="rightSide" class="ui sidebar" c-widget="sidebar; direction:right">
		<div class="ui  inverted vertical menu">
			<a class="item">1</a>
			<a class="item">2</a>
			<a class="item">3</a>
		</div>
	</div>
	<div id="topSide" class="ui sidebar top" c-widget="sidebar; direction:top">
		<div class="ui  inverted menu">
			<a class="item">1</a>
			<a class="item">2</a>
			<a class="item">3</a>
		</div>
	</div>
	<div id="bottomSide" class="ui sidebar " c-widget="sidebar; direction:bottom">
		<div class="ui  menu">
			<a class="item">1</a>
			<a class="item">2</a>
			<a class="item">3</a>
		</div>
	</div>
	<div class="ui pusher">
		<div c-widget="button; caption:left; click:show"></div>
		<div c-widget="button; caption:right; click:show"></div>
		<div c-widget="button; caption:top; click:show"></div>
		<div c-widget="button; caption:bottom; click:show"></div>
	</div>
</div>
<script type="text/javascript">
	cola(function (model) {
		model.action({
			show: function (self, arg) {
				var drawer = cola.widget("drawerDemo");
				drawer.showSidebar(self.get("caption") + "Side", function () {
					console.log("asfdsf")
				})
			}
		})
	});
</script>
</body>
</html>