.detail {
    overflow: auto;
    padding: 0 1em;
    background: white;
}

.detail .image {
    width: 100%;
    min-height: 300px;
}

.detail .text {
    padding: 0.25em 1em;
}

.detail .label {
    margin: 1em 0;
}

#listRecommandedProducts .product > a {
    min-height: 100px;
}

.detail-bottom {
    padding: 0.25em 1em;
    line-height: 2.5em;
    height: 3.5em;
    background: white;
}

.detail-bottom .currency {
    font-size: 150%;
}

.detail-bottom .price {
    font-size: 250%;
}