@import (reference) "global";

.field.required {
	padding-right: 1em;
	position: relative;
	&:after {
		float: right;
		font-family: Icons;
		content: "\f069";
		position: absolute;
		right: 0;
		top: 50%;
		margin-top: -10px;
		color: @red;
		.transform(scale(0.5))
	}
}