@import "est/all.less";

@small-px: 768;
@medium-px: 1024;
@large-px: 1440;
@xlarge-px: 1920;

@basePx: 16;
@baseEm: 1;
@small-width: (@small-px / @basePx);
@medium-width: (@medium-px / @basePx);
@large-width: (@large-px / @basePx);
@xlarge-width: (@xlarge-px / @basePx);

@small-max: unit(@small-width, em);
@medium-max: unit(@medium-width, em);
@large-max: unit(@large-width, em);
@xlarge-max: unit(@xlarge-width, em);
@breakPoint: (1 / @basePx);
@small-min: 0em;

@medium-min: unit((@small-width+@breakPoint), em);
@large-min: unit((@medium-width+@breakPoint), em);
@xlarge-min: unit((@large-width+@breakPoint), em);
@xxlarge-min: unit((@xlarge-width+@breakPoint), em);
@screen-and: ~"only screen and (max-width:";
@screen-up-and: ~"only screen and (min-width:";
@screen: ~"only screen";
@screen-end-mark: ~")";
@and: ~") and (max-width:";
@small-up: @screen;
@small-only: @screen-and@small-min@and@small-max@screen-end-mark;

@medium-up: @screen-up-and@medium-min@screen-end-mark;
@medium-only: @screen-and@medium-min@and@medium-max@screen-end-mark;

@large-up: @screen-up-and@large-min@screen-end-mark;
@large-only: @screen-and@large-min@and@large-max@screen-end-mark;

@xlarge-up: @screen-up-and@xlarge-min@screen-end-mark;
@xlarge-only: @screen-and@xlarge-min@and@xlarge-max@screen-end-mark;

@xxlarge-up: @screen-up-and@xxlarge-min@screen-end-mark;

@total-columns: 12;
@block-grid-elements: @total-columns;
@opposite-direction: right;
@default-spacing: 0rem;
@column-gutter: @default-spacing;
@row-width: 100%;
@default-float: left;

@type    : 'global';
@element : 'reset';

@import (reference) '../../semantic-src/theme.config';
@fontName: "Roboto", "Helvetica Neue", "Microsoft YaHei", "Lato";

.clearfix() {
	&:before, &:after {
		content: " ";
		display: table;
	}
	&:after {
		clear: both;
	}
}

template {
	display: none;
}

.mobile {
	overflow: auto;
	-webkit-overflow-scrolling: touch;

	::-webkit-scrollbar {
		-webkit-appearance: none;
		&:vertical {
			width: 2px;
		}
		&:horizontal {
			height: 2px;
		}
		&-thumb {
			background: #888;
		}
	}
}

.display-none {
	display: none;
}

.colored(@name,@color,@colorName,@style) {
	.@{colorName}-@{name} {
		@{style}: @color
	}
}

.colored(background, @red, red, background-color);
.colored(background, @orange, orange, background-color);
.colored(background, @yellow, yellow, background-color);
.colored(background, @olive, olive, background-color);
.colored(background, @green, green, background-color);
.colored(background, @teal, teal, background-color);
.colored(background, @blue, blue, background-color);
.colored(background, @violet, violet, background-color);
.colored(background, @purple, purple, background-color);
.colored(background, @pink, pink, background-color);
.colored(background, @brown, brown, background-color);
.colored(background, @grey, grey, background-color);
.colored(background, @black, black, background-color);
.colored(text, @red, red, color);
.colored(text, @orange, orange, color);
.colored(text, @yellow, yellow, color);
.colored(text, @olive, olive, color);
.colored(text, @green, green, color);
.colored(text, @teal, teal, color);
.colored(text, @blue, blue, color);
.colored(text, @violet, violet, color);
.colored(text, @purple, purple, color);
.colored(text, @pink, pink, color);
.colored(text, @brown, brown, color);
.colored(text, @grey, grey, color);
.colored(text, @black, black, color);
.colored(border, @red, red, border-color);
.colored(border, @orange, orange, border-color);
.colored(border, @yellow, yellow, border-color);
.colored(border, @olive, olive, border-color);
.colored(border, @green, green, border-color);
.colored(border, @teal, teal, border-color);
.colored(border, @blue, blue, border-color);
.colored(border, @violet, violet, border-color);
.colored(border, @purple, purple, border-color);
.colored(border, @pink, pink, border-color);
.colored(border, @brown, brown, border-color);
.colored(border, @grey, grey, border-color);
.colored(border, @black, black, border-color);