@import (reference) "global";

.ui.input.readonly {
	input, textarea {
		background-color: @inputReadOnlyBackgroundColor !important;
	}
}

.ui.input > input {
	padding: 8px 10px;
	border-radius: 2px;
}

.webkit {
	.ui.toggle.checkbox {
		label {
			padding-left: 3.5rem !important;
		}
		&.no-transmit {
			label:before, label:after {
				-webkit-transition: none !important;
				transition: none !important;
			}
		}
	}
}