@import (reference) "global";

.ui.input.readonly {
	input, textarea {
		background-color: @inputReadOnlyBackgroundColor !important;
	}
}

.ui.input {
	> input {
		padding: 6px 10px;
		border-radius: 2px;
	}
	&.action {
		.ui.button {
			padding: 6px 10px;
		}
	}
}

.webkit {
	.ui.toggle.checkbox {
		&.no-transmit {
			label:before, label:after {
				-webkit-transition: none !important;
				transition: none !important;
			}
		}
	}
}