@import (reference) "global";

.ui.pager {
	line-height: 2em;
	> div {
		display: inline-block;
		margin: 0 4px;
	}
	.separator:before {
		content: '...';
	}
	> .page-no-wrapper {
		span {
			margin: 0 2px;
			border: 1px solid @borderColor;
			border-radius: 4px;
			padding: 4px 6px;

			&.current, &.current:hover {
				border-color: @primaryColor;
				background-color: @primaryColor;
				color: @invertedTextColor !important;;
			}
			&:not(.disabled) {
				&:hover {
					border-color: @primaryColor;
					color: @primaryColor;
				}
			}
			cursor: pointer;

			&.nav-btn {
				font-family: Icons;
				padding: 5px 8px;
				&.prev {
					&:before {
						content: "\f0d9";
					}
				}
				&.next {
					&:before {
						content: "\f0da";
					}
				}
				&.disabled {
					opacity: 0.5;
					color: #818181;
				}
			}
		}
	}

	> .goto {
		input {
			width: 3em;
			text-align: right;
			border-radius: 4px;
			border: 1px solid @borderColor;
			&:focus, &:hover {
				border-color: @primaryColor;
			}
			line-height: 20px;
			margin: 0 4px;
		}
	}
	.ui.input.drop.page-size {
		margin: 0 8px;
		input {
			padding: 4px 6px;
			background-color: #FFFFFF;
			width: 7em;
			padding-right: 1em !important;
		}
	}

	.page-size, .goto {
		display: none;
	}
}