@import (reference) "global";

.ui.menu.pager {
	.goto.ui.input {
		width: 6.25em;
		> input {
			width: 3em;
			padding-left: 0.5em;
			padding-right: 0.5em;
		}
		.ui.button {
			padding-left: 0.8em;
			padding-right: 0.8em;
		}
	}
	.item.disabled:hover{
		color: rgba(40, 40, 40, 0.3);
	}
}