//@import (optional) '../../semantic-src/themes/default/collections/menu.variables';
@import (reference) "global";

@lineHeight: 48px;
@boxShadowColor: rgba(0, 0, 0, .4);
@color: #29324e;
@maxWidth: 100%;

@captionFontSize: 1em;
@iconFontSize: @captionFontSize;
@closeIconFontSize: 0.8em;

@invertedTabActive: rgba(255, 255, 255, .15);
@invertedTabHover: rgba(255, 255, 255, .01);
@invertedTabsBackgroundColor: rgba(255, 255, 255, .06);

.ui.card-book {
	overflow: hidden;
	.item {
		display: none;
	}
	.item.active {
		display: block;
	}
}

.ui.c-tab {
	position: relative;
	background-color: #ffffff;
	overflow: hidden;
	> .tab-bar {
		overflow: hidden;
		display: inline-block;
		width: @maxWidth;
		height: @lineHeight;
		background: #f4f4f4;
		box-shadow: inset 0 -2px 3px rgba(203, 196, 130, 0.06);
		color: @color;
		> .tabs {
			list-style: none;
			padding: 0;
			display: inline-block;
			margin: 0;
			> .tab-button {
				cursor: pointer;
				line-height: @lineHeight;
				padding: 0 .5em 0 1em;
				float: left;
				font-size: @captionFontSize;
				> .caption {
					display: block;
					float: left;
					span {
						display: block;
						float: right;
					}
					> i {
						line-height: inherit;
						float: left;
						font-size: @iconFontSize;
					}
				}
				.close-btn {
					display: block;
					float: right;
					opacity: 0.3;
					margin-left: .5em;
					line-height: inherit;
					i {
						line-height: inherit;
					}
				}
				.close-btn:hover {
					opacity: 0.6;
					color: #d95c5c;
				}

				&.active, &.active:hover {
					background-color: #ffffff;
					box-shadow: inset 0 2px 0 @boxShadowColor;

				}
				&:hover {
					background-color: @internalBorderColor;
				}

			}
		}
	}
	> .contents {
		position: absolute;
		list-style: none;
		margin: 0;
		padding: 1em;
		.item {
			display: none;
		}
		.item.active {
			display: block;
		}
		top: @lineHeight;
		bottom: 0;
		right: 0;
		left: 0;
	}

	&.bottom-bar {
		> .tab-bar {
			position: absolute;
			bottom: 0;
			box-shadow: inset 0 2px 3px rgba(203, 196, 130, 0.06);
			> .tabs {
				> .tab-button.active, > .tab-button.active:hover {
					box-shadow: inset 0 -2px 0 @boxShadowColor;
				}
			}
		}
		> .contents {
			overflow: auto;
			top: 0;
			bottom: @lineHeight;
		}
	}
	&.left-bar, &.right-bar {
		> .tab-bar {
			position: absolute;
			top: 0;
			bottom: 0;
			display: inline-block;
			overflow: hidden;
			width: auto;
			height: 100%;
			> .tabs {
				> .tab-button {
					float: none;
					height: @lineHeight;
					line-height: @lineHeight;
					display: block;
				}
			}
		}
		> .contents {
			margin: 0;
			padding: 0;
			position: absolute;
			top: 0;
		}
	}

	&.left-bar {
		> .tab-bar {
			left: 0;
			> .tabs {
				> .tab-button.active, > .tab-button.active:hover {
					box-shadow: 2px 0 0 @boxShadowColor inset;
				}
			}
		}
		> .contents {
			left: 11.5em;
		}
	}

	&.right-bar {
		position: relative;
		> .tab-bar {
			right: 0;
			> .tabs {
				> .tab-button.active, > .tab-button.active:hover {
					box-shadow: -2px 0 0 @boxShadowColor inset;
				}
			}
		}
		> .contents {
			right: 11.5em;
		}
	}

	&.inverted {
		color: @invertedTextColor;
		background-color: @black;
		> .tab-bar {
			color: @invertedTextColor;
			background-color: @invertedTabsBackgroundColor;
			> .tabs {
				> .tab-button.active, > .tab-button.active:hover {
					box-shadow: none;
					color: inherit;
					background-color: @black;
				}
				> .tab-button {
					color: @invertedTextColor;
				}
				> .tab-button:hover {
					background: @internalBorderColor;
					color: @invertedTextColor;
					box-shadow: none;
				}
			}
		}
		.mixin_inverted_color(@name,@color) {
			&.@{name} {
				background-color: @color;
				> .tab-bar {
					background-color: @strongBorderColor;
					> .tabs > .tab-button.active {
						background-color: @color;
						&:hover {
							background-color: @color;
						}
					}
				}
			}
		}
		.mixin_inverted_color(red, @red);
		.mixin_inverted_color(orange, @orange);
		.mixin_inverted_color(yellow, @yellow);
		.mixin_inverted_color(olive, @olive);
		.mixin_inverted_color(green, @green);
		.mixin_inverted_color(teal, @teal);
		.mixin_inverted_color(blue, @blue);
		.mixin_inverted_color(violet, @violet);
		.mixin_inverted_color(purple, @purple);
		.mixin_inverted_color(pink, @pink);
		.mixin_inverted_color(brown, @brown);
		.mixin_inverted_color(grey, @grey);
	}
}

.ui.c-tab:not(.inverted) {

	.mixin_tab_button_color(@name,@color) {
		.tab-button {
			&.@{name} {
				color: @color;
				&.active, &.active:hover {
					box-shadow: inset 0 2px 0 @color;
				}
			}
		}
	}

	.mixin_tab_button_color(red, @red);
	.mixin_tab_button_color(orange, @orange);
	.mixin_tab_button_color(yellow, @yellow);
	.mixin_tab_button_color(olive, @olive);
	.mixin_tab_button_color(green, @green);
	.mixin_tab_button_color(teal, @teal);
	.mixin_tab_button_color(blue, @blue);
	.mixin_tab_button_color(violet, @violet);
	.mixin_tab_button_color(purple, @purple);
	.mixin_tab_button_color(pink, @pink);
	.mixin_tab_button_color(brown, @brown);
	.mixin_tab_button_color(grey, @grey);

}

@media only screen and (max-width: 468px) {
	.ui.c-tab {
		> .tab-bar {
			text-align: center;
		}
	}
}

//==================================Theme-Pad==========================================

@padHorizontalOffset: 9em;
@internalPadBorderColor: rgba(34, 36, 38, 0.07);
@padLineHeight: 5.25rem;

.ui.c-tab.pad {
	&.top-bar, &.bottom-bar {
		> .tab-bar {
			height: @padLineHeight;
		}
	}
	> .tab-bar {
		> .tabs {
			> .tab-button {
				display: block;
				background-color: @internalPadBorderColor;;
				text-align: center;
				> .caption {
					line-height: inherit;
					margin: 0 8px;
					min-width: 6.25em;
					> span {
						margin: 0;
						line-height: @padLineHeight;
						float: none;
						width: 100%;
					}
					> i + span {
						line-height: 1em !important;
						margin-top: 0.5rem;
					}
					> i {
						margin: 0.75rem 0 0.75rem 0;
						width: 100%;
						font-size: 2em;
						line-height: initial;
					}
				}
				> .close-btn {
					line-height: inherit;
					height: 100%;
					margin: 0;
					i {
						margin: 0;
					}
				}
			}
			> .tab-button:hover {
				background-color: @internalBorderColor;
			}
			> .tab-button.active, > .tab-button.active:hover {
				background-color: #ffffff;
			}
		}
	}

	&.top-bar, &.bottom-bar {
		> .tab-bar {
			> .tabs {
				line-height: @padLineHeight;
				> .tab-button {
					position: relative;
					float: left;
					line-height: @padLineHeight;
					height: @padLineHeight;
					margin-left: 1px;
					padding: 0;
					> .caption {
						margin: 0 8px;
						> span {
							line-height: @padLineHeight;
						}
					}
					> .close-btn {
						top: 0;
						right: 0;
						position: absolute;
						line-height: 16px;
						height: 16px;
					}
					> .close-btn:hover {
						background-color: rgba(60, 63, 65, 0.22);
					}
				}
			}
		}

	}
	&.top-bar {
		> .contents {
			top: @padLineHeight;
		}
	}
	&.bottom-bar {
		> .contents {
			bottom: @padLineHeight;
		}
	}

	&.left-bar, &.right-bar {
		> .tab-bar {
			> .tabs {
				> .tab-button {
					float: none;
					line-height: @padLineHeight;
					height: @padLineHeight;
					padding: 0 4px 0 0;
					margin-top: 1px;
					> .caption {
						margin-left: 8px;
						float: right;
						> span {
							line-height: @padLineHeight;
						}
					}
					> .close-btn {
						background-color: rgba(60, 63, 65, 0.43);
						line-height: inherit;
						height: 100%;
					}
				}
			}
		}
	}
	&.left-bar {
		> .contents {
			left: @padHorizontalOffset;
		}
	}

	&.right-bar {
		> .contents {
			right: @padHorizontalOffset;
		}
	}

	&.inverted {
		background-color: @black;
		color: @invertedTextColor;
		> .tab-bar {
			color: @invertedTextColor;
			background-color: @invertedTabsBackgroundColor;

			> .tabs {
				> .tab-button {
					background-color: @invertedTabsBackgroundColor;
					&.active, &.active:hover {
						background-color: @black;
					}
					&:hover {
						background-color: @invertedTabHover;
					}
				}
			}

		}

		.mixin_inverted_pad_color(@name,@color) {
			&.@{name} {
				background-color: @color;
				> .tab-bar {
					background-color: @borderColor;

					> .tabs {
						> .tab-button {
							background-color: @internalBorderColor;
						}

						> .tab-button.active {
							background-color: @color;
						}
					}
				}
			}
		}
		.mixin_inverted_pad_color(red, @red);
		.mixin_inverted_pad_color(orange, @orange);
		.mixin_inverted_pad_color(yellow, @yellow);
		.mixin_inverted_pad_color(olive, @olive);
		.mixin_inverted_pad_color(green, @green);
		.mixin_inverted_pad_color(teal, @teal);
		.mixin_inverted_pad_color(blue, @blue);
		.mixin_inverted_pad_color(violet, @violet);
		.mixin_inverted_pad_color(purple, @purple);
		.mixin_inverted_pad_color(pink, @pink);
		.mixin_inverted_pad_color(brown, @brown);
		.mixin_inverted_pad_color(grey, @grey);
	}

}
