@import (reference) "global";
@import (reference) "items-view";

@tableHeadLineColor: darken(@offWhite, 4%);
@tableFootLineColor: @tableHeadLineColor;
@tableRowLineColor: @tableHeadLineColor;
@tableColLineColor: @tableHeadLineColor;
@tableHeadCellPadding: 0.4em 0.4em;
@tableFootCellPadding: 0.4em 0.4em;
@tableCellPadding: 0.6em 0.4em;

@tableHeadBackground: @white;
@tableFootBackground: @tableHeadBackground;
@tableCurrentCellBackground: fade(@primaryColor, 15%);

@tableInvertedStripedBackground: darken(@itemsViewInvertedBackground, 4%);
@tableInvertedHeadBackground: lighten(@itemsViewInvertedBackground, 6%);
@tableInvertedFootBackground: @tableInvertedHeadBackground;
@tableInvertedHeadLineColor: lighten(@tableInvertedHeadBackground, 12%);
@tableInvertedFootLineColor: lighten(@tableInvertedFootBackground, 12%);
@tableInvertedRowLineColor: transparent;
@tableInvertedColLineColor: transparent;

.ui.widget-table {
	border: 1px solid @borderColor;

	.inner-table {
		position: relative;
		overflow-x: visible;
		overflow-y: hidden;
		height: 100%;
		border-left: 1px solid @tableColLineColor;

		&:first-of-type {
			border-left-width: 0;
		}

		> .table-header, > .table-footer {
			position: absolute;
			left: 0;
			overflow-x: hidden;
			overflow-y: visible;
			z-index: 1;
			> table {
				table-layout: fixed;
				width: 0;
			}
		}
		> .table-header {
			top: 0;
			border-bottom: 1px solid @tableHeadLineColor;
			background: @tableHeadBackground;
		}
		> .table-footer {
			bottom: 0;
			border-top: 1px solid @tableFootLineColor;
			background: @tableFootBackground;
		}
		> .table-body {
			position: relative;
			width: 100%;
			height: 100%;
			overflow: auto;
			box-sizing: border-box;
		}

		.items {
			padding: 0;
			margin: 0;
			overflow: visible;

			.cell-editor-pane {
				position: absolute;
				overflow: hidden;
				background: #fff;

				&.hidden {
					display: none;
				}

				> * {
					width: 100%;
					height: 100%;
				}
				> .editor-container {
					display: flex;

					-webkit-justify-content: center;
					-ms-flex-pack: center;
					justify-content: center;

					-webkit-align-items: center;
					-ms-flex-align: center;
					align-items: center;
				}
			}
		}

		c-input, c-datepicker, c-tag-editor {
			&.in-cell {
				width: 100%;
			}
		}
		.ui.checkbox.in-cell {
			margin-top: 0.25em;
			margin-left: 0.5em;
		}
	}

	.cell, .header-cell, .footer-cell {
		box-sizing: border-box;
		height: 2.4em;
		overflow-x: hidden;
		overflow-y: visible;
		font-size: 1rem;
		> div {
			display: -webkit-box;
			display: -ms-flexbox;
			display: -webkit-flex;
			display: flex;

			height: 100%;
			overflow: hidden;

			-webkit-align-items: center;
			-ms-flex-align: center;
			align-items: center;

			&.default-content, > .cell-content {
				padding: 0 0.4em;
			}
		}

		&.h-left > div {
			-webkit-justify-content: flex-start;
			-ms-flex-pack: start;
			justify-content: flex-start;
		}
		&.h-center > div {
			-webkit-justify-content: center;
			-ms-flex-pack: center;
			justify-content: center;
		}
		&.h-right > div {
			-webkit-justify-content: flex-end;
			-ms-flex-pack: end;
			justify-content: flex-end;
		}

		&.v-top > div {
			-webkit-align-items: flex-start;
			-ms-flex-align: start;
			align-items: flex-start;
		}
		&.v-bottom > div {
			-webkit-align-items: flex-end;
			-ms-flex-align: end;
			align-items: flex-end;
		}
	}
	.header-row {
		.header-cell {
			border-width: 1px 1px 0 0;
			border-style: solid;
			border-color: @tableHeadLineColor @tableColLineColor;
		}
		&:first-child .header-cell {
			border-top-width: 0;
		}
	}
	.footer-cell {
		display: inline-block;
		border-right: 1px solid @tableColLineColor;
	}

	.table.item {
		position: relative;
		white-space: nowrap;
		line-height: 1;
		font-size: 0;
		box-sizing: border-box;
		border-bottom: 1px solid @tableRowLineColor;
		overflow: visible;
		&:last-of-type {
			border-bottom-width: 0;
			.box-shadow(0 1px 0 @tableRowLineColor);
		}
		> .cell {
			display: inline-block;
			border-right: 1px solid @tableColLineColor;
			&.current {
				background: @tableCurrentCellBackground;
			}
		}
	}
}

.ui.widget-table.striped {
	.inner-table {
		.table.item:nth-child(2n):not(.current) {
			background: @itemsViewItemStripedBackground;
		}
	}
}

.ui.widget-table {
	.inner-table {
		.table.item:hover:not(.current) {
			background: @itemsViewHoverBackground;
		}
		.table.item.current {
			background: @itemsViewCurrentBackground;
		}
	}
}