<!DOCTYPE html>
<html>
<head lang="zh-CN">
	<meta charset="UTF-8">
	<title>栅格系统</title>
	<script src="../include-all.js"></script>
</head>
<body style="padding: 20px; background-color: #ededed">
<div class="ui fragment red" style="height: 4em">
</div>
<div class="ui fragment blue" style="height: 4em">
</div>
<div class="ui fragment orange" style="height: 4em">
</div>
<div class="ui fragment yellow" style="height: 4em">
</div>
<div class="ui fragment olive" style="height: 4em">
</div>
<div class="ui fragment violet" style="height: 4em">
</div>
<div class="ui fragment teal" style="height: 4em">
</div>
<div class="ui fragment purple" style="height: 4em">
</div>
<div class="ui fragment pink" style="height: 4em">
</div>
<div class="ui fragment brown" style="height: 4em">
</div>

</body>
</html>