<!DOCTYPE html>
<html>
<head lang="zh-CN">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>

    <title>dock-布局</title>
    <script src="../../include-all.js"></script>
    <style>
        body .v-box, body v-box {
            height: 300px;
            border: #f67300 solid 1px;
        }

        body .v-box > *, body v-box > *, body .h-box > *, body h-box > * {
            border: #f67300 solid 1px;
        }

        body .h-box, body h-box {
            height: 100px;
            width: 100%;
            border: #f67300 solid 1px;
        }
    </style>
</head>
<body style="padding: 20px">
<div>
    <v-box class="center">
        <box style="height: 100px">
            box
        </box>
        <flex-box>
            <div>
                flex-box
            </div>
        </flex-box>
        <box>
            box
        </box>
    </v-box>
    <br>

    <h-box>
        <box>
            box
        </box>
        <flex-box>
            <div></div>
            flex-box
        </flex-box>
        <flex-box>
            flex-box
        </flex-box>
    </h-box>

    <br>
</div>
</body>
</html>