<!DOCTYPE html>
<html>
<head lang="zh-CN">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>

	<title>dock-布局</title>
	<script src="../../include-all.js"></script>
	<style>
		.vbox-example {
			height: 300px;
			border: #f67300 solid 1px;
		}
		.vbox-example > *, .hbox-example > * {
			border: #f67300 solid 1px;
		}
		.hbox-example {
			margin-top: 10px;
			height: 100px;
			width: 100%;
			border: #f67300 solid 1px;
		}
	</style>
</head>
<body style="padding: 20px">
<div>
	<div class="v-box vbox-example center" style="height: 200px; margin-bottom: 10px;">
		<div class="box">
			box
		</div>
	</div>
	<div class="v-box vbox-example">
		<div class="box">
			box
		</div>
		<div class="box">
			box
		</div>
		<div class="box">
			box
		</div>
		<div class="flex-box">
			flex-box
		</div>

		<div class="box">
			box
		</div>
		<div class="box ">
			box
		</div>
	</div>
	<div class="h-box hbox-example center" style="margin-bottom: 10px;">
		<div class="box">
			box
		</div></div>
	<div class="h-box hbox-example">
		<div class="box">
			box
		</div>

		<div class="box">
			box
		</div>
		<div class="flex-box">
			flex-box
		</div>
		<div class="box">
			box
		</div>
		<div class="box">
			box
		</div>
	</div>
</div>
</body>
</html>