<!DOCTYPE html>
<html>
<head lang="zh-CN">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>

    <title>dock-布局</title>
    <script src="../../include-all.js"></script>
    <style>
        v-box > box, h-box > box {
            background-color: rgba(114, 207, 255, 0.56);
        }

        v-box > flex-box, h-box > flex-box {
            background-color: rgba(16, 142, 233, 0.64);
        }
    </style>
</head>
<body style="padding: 20px">
<div>
    <v-box style="height:600px">
        <box style="height: 100px"></box>
        <flex-box>
            <h-box>
                <box style="width: 100px"></box>
                <flex-box>
                    <v-box>
                        <box style="height: 100px"></box>
                        <flex-box></flex-box>
                        <box style="height: 100px"></box>
                    </v-box>
                </flex-box>
                <box style="width: 100px"></box>
                <flex-box></flex-box>
                <box style="width: 100px"></box>
            </h-box>
        </flex-box>
        <box style="height: 100px"></box>
    </v-box>

</div>
</body>
</html>